*
{
    margin: 0;
    padding: 0;
}

#room
{
    position: absolute;
    width: 100vw; /*100% szerokosci okna przegladarki*/
    height: 100vh; /*100% wysokosci okna przegladarki*/
    background-image: url("img/Elson.jpg");
    background-size: cover; /*POWODUJE, ZE OBRAZEK NIE BEDZIE REPLIKOWANY, BEDZIE ZAJMOWAL CALE OKNO PRZEGLADARKI BEZ ZABURZANIA JEGO PROPORCJI*/
    background-position: center;/*WYSRODKOWANIE*/
    z-index: 1; /*IM WYZSZA WARTOSC, TYM ELEMENT BEDZIE WYZEJ NAD INNYMI. BARDZIEJ ZEWNETRZNA WARSTWA*/
}

#button
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 50px solid greenyellow; /*Z LEWEJ I PRAWEJ PO 50PX, WIEC CALOSC ZAJMUJE 100PX I W POLACZENIU Z BORDER-RADIUS TWORZYMY KOLO*/
    z-index: 3; /*MOZNA UZYC Z-INDEX DZIEKI POSITION: ABSOLUTE;*/
    border-radius: 50%; /*TAKA WARTOSC TWORZY Z KWADRATU KOŁO*/
    box-sizing: border-box; /*BORDER JEST WLICZANY W WIELKOSC ELEMENTU*/
    top: 30px;
    left: 30px;
    animation: switchOff 300ms linear infinite alternate; /*NAZWA ANIMACJI, DLUGOSC ANIMACJI(1 ITERACJI, OD JEDNEJ KLATKI DO KOLEJNEJ), SPOSOB PRZEJSCIA ANIMACJI(LINEAR-CALY CZAS TAK SAMO), ILE RAZY MA SIE WYKONAC, ODTWORZ SIE OD POCZATKU DO KONCA I OD KONCA DO POCZATKU*/
}

#button:hover + #dark /*KIEDY BUTTON JEST NAJECHANY TO STYL Z KLAMR MA BYC ZASTOSOWANY NA #DARK*/
{
    background-color: transparent; /*PO NAJECHANIU MYSZKA(BO HOVER), WIDAC TO CO JEST POD NIM*/
}

#dark
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    transition: background-color 1s ease;
}

/* MOZE BYC ROWNIEZ:
#room, #button, #dark
{
    position: absolute;
}
*/

@keyframes switchOff /*@keyframes - WPROWADZENIE DEFINICJI NOWEJ ANIMACJI, ROZPOCZECIE TWORZENIA NOWEJ ANIMACJI i podajemy jej nazwe np. "switchOff"*/
{
    0% /*OD CZEGO MA SIE ZACZYNAC NASZA ANIMACJA*/
    {
        border: 0px solid greenyellow;
        opacity: 0; /*JEST CALKOWICIE PRZEZROCZYSTE*/
    } 
    100% /*NA CZYM MA SIE KONCZYC. OKRESLAMY TYLKO 2 KLATKI(przy 2 elementach mozna uzyc zapisu "from" oraz "to")*/
    { 
        border: 50px solid greenyellow;
        opacity: 1;
    } 
}

#button:hover /*WYLACZENIE ANIMACJI PO NAJECHANIU KURSOREM*/
{
    animation: none;
}

